@import "normalize.css";

.App {
  width: 100vw;
  height: 100vh;
}

.main_page {
  width: 80%;
  height: 80%;
  margin: auto;
}

.home__current_measurement_table {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  text-align: center;
}

.measurement_element__image {
  height: 20rem;
}

.measurement_element__label {
  font-weight: 600;
  font-size: 1.5rem;
}

@media (max-width: 1001px) {
  .home__current_measurement_table {
    flex-direction: column;
    justify-content: space-evenly;
  }
}
