@import "normalize.css";
@import "bootstrap/dist/css/bootstrap.min.css";
:root {
  /* Colour definition */
  --coral-blue: #add8e6;
  --jagged-ice: #cce5ed;

  /* Colour assignment */
  --dashboard-tile-colour: var(--coral-blue);
  --background-color: var(--jagged-ice);
}

.App {
  width: 100vw;
  height: 100vh;
  background: var(--background-color);
  margin: 0;
  padding: 0;
}

.main_page {
  width: 80%;
  height: 100%;
  margin: 0 auto;
}

.home__current_measurement_table {
  text-align: center;
}

.measurement_element__image {
  height: 10rem;
}

.measurement_element__unit,
.measurement_element__value {
  font-weight: 600;
  font-size: 1.2rem;
}
.measurement_element__name {
  font-weight: 600;
  font-size: 1.6rem;
}

.current_measurement_table__measurement_element {
  background-color: var(--dashboard-tile-colour);
  border-radius: 1rem;
  flex: 1;
  padding: 1rem;
}

.dashboard_table__element {
  background-color: var(--dashboard-tile-colour);
  border-radius: 1rem;
  flex: 1;
  width: 30%;
  height: 50%;
  margin: 3rem auto;
  padding: 0 1rem 0 0;
}

.home__dashboard_table {
  display: flex;
  flex-direction: row;
  width: 100%;
  gap: 5%;
  justify-content: space-evenly;
}

.dashboard_table__element_header {
  display: none;
}

.form__input {
  height: 3rem;
  padding: 0.5rem;
  border-radius: 0.5rem;
  border: none;
  padding: 1rem;
  width: 70%;
}

.form__input:focus {
  outline: solid 0.25rem rgb(109, 109, 239);
}

.submit_button {
  width: 50%;
  height: 2.5rem;
  border-radius: 1rem;
  border: none;
  margin: 1rem auto;
}

.page__form {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8%;
}

.form__wrapper {
  width: 50%;
  height: 80%;
  margin: auto;
}

.navbar__button,
.navbar__button:hover,
.navbar__button:focus {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.55);
}

.navbar__button:hover {
  color: rgba(0, 0, 0, 0.7);
}

@media (max-width: 1001px) {
  .home__dashboard_table {
    flex-direction: column;
    justify-content: space-evenly;
  }

  .current_measurement_table__measurement_element {
    width: 80%;
    margin: 1rem auto;
    background-color: #add8e6;
    border-radius: 1rem;
    flex: 1;
    padding: 1rem;
  }

  .dashboard_table__element {
    width: 80%;
    margin: 1rem auto;
  }

  .dashboard_table__element_header {
    display: block;
    text-align: center;
  }

  .form__wrapper {
    width: 100%;
  }
}
