[Unit]
Description=The server part of the smart home server that measures info about the environment

[Service]
StandardOutput=journal
StandardError=journal
# change DATABASE_URL to the correct url
Environment="DATABASE_URL=postgres://postgres:mysecretpassword@localhost/pv191"
Restart=on-failure
RestartSec=5s

User=home-server
Group=home-server

Type=simple
WorkingDirectory=/var/www/smart-home-server/
ExecStart= /usr/bin/server

[Install]
WantedBy=multi-user.target
